<h1>Lazy Loading in Angular</h1>

<h2>Admin Links</h2>
<ul>
  <li><a routerLink="/admin/login">Admin Login</a></li>
  <li><a routerLink="/admin/list">Admin List</a></li>
</ul>
<br>

<h2>User Links</h2>
<ul>
  <li><a routerLink="/user/login">User Login</a></li>
  <li><a routerLink="/user/list">User List</a></li>
</ul>
<br>

<router-outlet></router-outlet>